body {
    margin: 0;
    background-color: #EEEEEE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    overflow-y: scroll;
}

.navBar {
    padding: 0;
    margin: 0;
    width: 100%;
    position: fixed;
    background-color: white;
}

.navItem {
    background-color: white;
    width: 10%;
    margin: 0;
    transition: background-color 1.5s;
    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    float: left;
    cursor: pointer;
}

    .navItem:hover {
        background-color: #EEEEEE;
    }

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.postArea {
    padding: 5%;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}


.post {
    text-align: center;
}

.postLink {
    cursor: pointer;
    color: #0000ff;
}

.postLink:hover {
    text-decoration: underline;
}


.recentItems {
    width: 40vw;
    height: 40vh;
    background-color: white;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    position: fixed;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 20vh;
    margin-bottom: 20vh;
    text-align: center;
    box-shadow: 20px 20px 80px 5px;
}

.hidden2 {
    display: none;
}

.visible2 {
    display: block;
}

input[type="button"] {
    outline: 0 !important;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    padding: 10px;
    transition: background-color 1s;
}

input[type="button"]:hover {
    background-color: #EEEEEE;
}