/* Wolfmation is a CSS file created to create animations for the Weekly build of vetpetmon.com, it is not guaranteed to work. This API is used for CSS3 animations and is experimental. */
@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1.5, 1.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes stretchY {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: scale(1, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}

.stretchY {
    animation-name: stretchY;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* These animations are for buttons, links, and many other things. These only happen when you put your mouse on the select object. */
.increasesizebutton {
    transition: width 2s, height 2s, transform 1s;
    -moz-transition: width 2s, height 2s, transform 1s;
}
.increasesizebutton:hover {
    transform: scale(1.8, 1.8);
    -moz-transform: scale(1.8, 1.8);
}